html(lang='en')
  include common/head.pug
  +head("Sign up to Appflow")
  body.antialiased.bg-body.text-body.font-body
    div
      section.bg-white
        include common/navbar.pug
        +navbar()
      section.py-24.md_py-32.bg-white(style='background-image: url(\'flex-ui-assets/elements/pattern-white.svg\'); background-position: center;')
        .container.px-4.mx-auto
          .max-w-sm.mx-auto
            .mb-6.text-center
              a.inline-block.mb-6(href='/')
                img.h-16(src=thisApp.ImageUrl, alt)
              h3.mb-4.text-2xl.md_text-3xl.font-bold Join our community
              p.text-lg.text-coolGray-500.font-medium Start your journey with our product
            form(action='/signup' method='POST')
              .mb-6
                label.block.mb-2.text-coolGray-800.font-medium(for) Firstname*
                input.appearance-none.block.w-full.p-3.leading-5.text-coolGray-900.border.border-coolGray-200.rounded-lg.shadow-md.placeholder-coolGray-400.focus_outline-none.focus_ring-2.focus_ring-green-500.focus_ring-opacity-50(type='name', name='firstname', placeholder='Patryk')
              .mb-6
                label.block.mb-2.text-coolGray-800.font-medium(for) Lastname*
                input.appearance-none.block.w-full.p-3.leading-5.text-coolGray-900.border.border-coolGray-200.rounded-lg.shadow-md.placeholder-coolGray-400.focus_outline-none.focus_ring-2.focus_ring-green-500.focus_ring-opacity-50(type='name', name='lastname', placeholder='Patryk')
              .mb-6
                label.block.mb-2.text-coolGray-800.font-medium(for) Email*
                input.appearance-none.block.w-full.p-3.leading-5.text-coolGray-900.border.border-coolGray-200.rounded-lg.shadow-md.placeholder-coolGray-400.focus_outline-none.focus_ring-2.focus_ring-green-500.focus_ring-opacity-50(type='name', name='email' placeholder='dev@shuffle.dev')
              .mb-4
                label.block.mb-2.text-coolGray-800.font-medium(for) Password*
                input.appearance-none.block.w-full.p-3.leading-5.text-coolGray-900.border.border-coolGray-200.rounded-lg.shadow-md.placeholder-coolGray-400.focus_outline-none.focus_ring-2.focus_ring-green-500.focus_ring-opacity-50(type='password', name='password', placeholder='************')
              .flex.flex-wrap.items-center.justify-between.mb-6
                .w-full.md_w-1_2
                  label.relative.inline-flex.items-center
                    input.form-checkbox.appearance-none(type='checkbox')
                    img.absolute.top-1_2.transform.-translate-y-1_2.left-0(src=asset('flex-ui-assets/elements/sign-up/checkbox-icon.svg') alt)
                    span.ml-7.text-xs.text-coolGray-800.font-medium Remember me
                .w-full.md_w-auto.mt-1
                  a.inline-block.text-xs.font-medium.text-green-500.hover_text-green-600(href='#') Forgot your password?
              button.inline-block.py-3.px-7.mb-4.w-full.text-base.text-green-50.font-medium.text-center.leading-6.bg-green-500.hover_bg-green-600.focus_ring-2.focus_ring-green-500.focus_ring-opacity-50.rounded-md.shadow-sm(type="submit") Sign Up
              |  
              if add_google_login_condition_here
                a.inline-flex.items-center.justify-center.py-3.px-7.mb-6.w-full.text-base.text-coolGray-500.font-medium.text-center.leading-6.bg-white.border.border-coolGray-100.hover_border-coolGray-200.rounded-md.shadow-sm(href='#')
                  img.mr-2(src=asset('flex-ui-assets/elements/sign-up/google-icon-sign-up.svg') alt)
                  span Sign in with Google
              p.text-center
                span.text-xs.font-medium Already have an account?
                |  
                a.inline-block.text-xs.font-medium.text-green-500.hover_text-green-600.hover_underline(href='/login') Sign In
    include common/footer.pug
    +footer()
